@use '../layouts/center' as layout;
@use '../fonts/text' as text;


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @include layout.Grid;
    min-height: 100vh;
    text-align: center;
    font-family: text.$family;
    img{
        width: 50rem;
    }
}

